
slnHorario/.vs/slnHorario/v15/Server/sqlite3/db.lock
slnHorario/.vs/slnHorario/v15/Server/sqlite3/storage.ide
slnHorario/.vs/slnHorario/v15/Server/sqlite3/storage.ide-shm
slnHorario/waTest/obj/waTest.csproj.nuget.g.props
slnHorario/waTest/obj/waTest.csproj.nuget.cache
slnHorario/waTest/obj/project.assets.json
slnHorario/waTest/obj/Debug/netcoreapp2.1/waTest.assets.cache
slnHorario/waTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
slnHorario/waTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
slnHorario/waTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.props
*.ide-wal
*.cs
*.cache
*.json
*.props
*.json
*.props
*.cache
slnHorario/waRepositorys/obj/project.assets.json
slnHorario/waEntitys/obj/Debug/netcoreapp2.1/waEntitys.csproj.CoreCompileInputs.cache
slnHorario/.vs/slnHorario/v15/.suo
slnHorario/waApi/obj/Debug/netcoreapp2.1/waApi.assets.cache
slnHorario/waApi/obj/Debug/netcoreapp2.1/waApi.csproj.CoreCompileInputs.cache
slnHorario/waApi/obj/project.assets.json
slnHorario/waApi/obj/waApi.csproj.nuget.g.props
slnHorario/waEntitys/obj/Debug/netcoreapp2.1/waEntitys.assets.cache
slnHorario/waEntitys/obj/Debug/netcoreapp2.1/waEntitys.csproj.CoreCompileInputs.cache
slnHorario/waEntitys/obj/waEntitys.csproj.nuget.cache
slnHorario/waRepositorys/obj/Debug/netcoreapp2.1/waRepositorys.assets.cache
slnHorario/waRepositorys/obj/project.assets.json
slnHorario/waRepositorys/obj/waRepositorys.csproj.nuget.g.props
slnHorario/waServices/obj/project.assets.json
slnHorario/waTest/obj/Debug/netcoreapp2.1/waTest.assets.cache
slnHorario/waTest/obj/waTest.csproj.nuget.g.props
